google-cloud-sdk/
pycache/
ServiceAccountKey.json
SlackOpenAIDrumbeat.code-workspace
.DS_Store
.env
cloudbuild.yaml
debug.log
jira_board_info.py
logger_config.py
miro_board_info.py
miro_data_assistant.py
requirements.txt
shared_resources.pycache
.cursorignore
